# MacOS
.DS_Store

# Python
**/__pycache__

# Fonts files
dot-fonts/.uuid

# Vim plugins and temp files
dot-vim/pack/minpac
dot-vim/.netrwhist
Session.vim
.nvimlog

# Don't track config files
dot-config

# Except those specified below
!dot-config/nvim
!dot-config/ranger
!dot-config/tmux-powerline

# Machine specific config
dot-zshrc-per-machine
dot-zshenv-per-machine

# Installation logs
**/*.log

# Tags
tags
